src/main/mule/getall.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="getallFlow" doc:id="d935f8cc-408e-4e51-b6ad-d3d66fa89d9c" >
		<wsc:consume doc:name="Consume" doc:id="bd4fce44-3d03-492f-92c8-825e2942b368" config-ref="Web_Service_Consumer_Config" operation="GetAllEmployees"/>
		<ee:transform doc:name="Transform Message" doc:id="fc197469-3d7a-4d0e-ad4e-1213eb9f6718" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload.body.GetAllEmployeesResponse]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
