src/main/mule/updat.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd">
	<flow name="updatFlow" doc:id="1a135259-ac3e-4933-9cd0-3b7e91a5f7cc" >
		<ee:transform doc:name="Transform Message" doc:id="fc23fb41-ca9d-4148-8e73-207defa510de" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://www.cdi.com/employees
---
{
	ns0#UpdateEmployeeRequest: {
		ns0#Employee: {
			ns0#id: attributes.uriParams.customer_id as Number,
			ns0#firstName: payload.firstName,
			ns0#lastName: payload.lastName,
			ns0#department: payload.department
		}
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume doc:name="Consume" doc:id="190c8871-3f69-4ce4-a10a-6864ac0b5a5f" config-ref="Web_Service_Consumer_Config" operation="UpdateEmployee"/>
		<ee:transform doc:name="Transform Message" doc:id="618a9f9e-e10e-4288-9e92-2c65bb039474" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload.body.sUpdateEmployeeResponse
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
